<div class="container page-wrapper">
  <div class="row user-bio-block">
      <div class="col-md-5">
            <div class="row">
              <div class="col-xs-6 col-md-4">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="rounded-circle float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
              <div class="col-xs-6 col-md-8">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block">
                        <h1 class="profile-user-name">Narender Modi</h1>
                        <div class="profile-user-designation">Prime Minister of India</div>
                        <button class="btn primary-btn hollow-btn follow-btn">Follow</button>
                    </div>
                  </div>
                </div>
                <ul class="row fan-stats-block">
                  <l1 class="col-xs-4 column-grid">
                    <div class="label">Tweets</div>
                    <div class="numbers">232</div>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <div class="label">Following</div>
                    <div class="numbers">232</div>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <div class="label">Followers</div>
                    <div class="numbers">232</div>
                  </l1>
                </ul>
              </div>
            </div>
        </div>
      <div class="col-md-6 push-md-1 progress-indication">
        <div class="row">
          <div class="col-md-4">
            <div class="progress-container positive-block">
              <div class="filler"></div>
              <span class="fa fa-twitter icon"></span>
              <div class="progress-detail">
                <span class="progress-number">
                  25%
                </span>
                <span class="progress-text">
                  Positive
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="progress-container neutral-block">
              <div class="filler"></div>
              <span class="fa fa-twitter icon"></span>
              <div class="progress-detail">
                <span class="progress-number">
                  60%
                </span>
                <span class="progress-text">
                  Neutral
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="progress-container negative-block">
              <div class="filler"></div>
              <span class="fa fa-twitter icon"></span>
              <div class="progress-detail">
                <span class="progress-number">
                  15%
                </span>
                <span class="progress-text">
                  Negative
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <!--left side content-->
    <div class="col-md-6 tweet-handler-block left-tweet-panel">

      <div class="container tweet-handler-header-block">
        <div class="row">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist" id="tweet-handler-block-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#latest-tweets" role="tab">Latest Tweets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab"  href="#inprogress-tweets" role="tab">In progress (20)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab"  href="#closed-tweets" role="tab">Closed (12)</a>
        </li>
      </ul>
        </div>
        <div class="row">
          <!-- Filter content -->
          <div class="row filter-tweets-block">
          <div class="col-md-6 col-lg-6 search-block">
			    <form action="" class="top-search-form">
			      <input type="text" class="input-field" placeholder="Search Tweet..">
			      <button type="submit" class="search-submit"> </button>
			    </form>
			  </div>
          <div class="col-md-6 check-filter-block text-md-right">
			    <form class="form-inline">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Neutral
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Negative
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Positive
              </label>
            </div>
          </form>
			  </div>
        </div>
        </div>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="container tab-pane active" id="latest-tweets" role="tabpanel">
          <div class="row tweet-list">
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block negative-tweets">
                        <h1 class="profile-user-name">Narender Modi
                        <span class="tweet-to">
                          @jrjSng
                        </span>
                          <span class="tweet-time">7h</span>
                        </h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-3 column-grid tweet-links">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-3 column-grid tweet-links">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block negative-tweets">
                        <h1 class="profile-user-name">Narender Modi
                          <span class="tweet-to">
                          @jrjSng
                          </span>
                          <span class="tweet-time">7h</span>
                        </h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-3 column-grid tweet-links">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-3 column-grid tweet-links">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block positive-tweets">
                        <h1 class="profile-user-name">Narender Modi
                          <span class="tweet-to">
                          @jrjSng
                          </span>
                          <span class="tweet-time">7h</span>
                        </h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-3 column-grid tweet-links">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-3 column-grid tweet-links">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block neutral-tweets">
                        <h1 class="profile-user-name">Narender Modi
                          <span class="tweet-to">
                          @jrjSng
                          </span>
                          <span class="tweet-time">7h</span>
                        </h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-3 column-grid tweet-links">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-3 column-grid tweet-links">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container tab-pane" id="inprogress-tweets" role="tabpanel">
          <div class="row tweet-list">
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block negative-tweets">
                        <h1 class="profile-user-name">Narender Modi</h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-4 column-grid">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block negative-tweets">
                        <h1 class="profile-user-name">Narender Modi</h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-4 column-grid">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block positive-tweets">
                        <h1 class="profile-user-name">Narender Modi</h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-4 column-grid">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block neutral-tweets">
                        <h1 class="profile-user-name">Narender Modi</h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-4 column-grid">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container tab-pane" id="closed-tweets" role="tabpanel">
          <div class="row tweet-list">
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block negative-tweets">
                        <h1 class="profile-user-name">Narender Modi</h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-4 column-grid">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block negative-tweets">
                        <h1 class="profile-user-name">Narender Modi</h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-4 column-grid">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block positive-tweets">
                        <h1 class="profile-user-name">Narender Modi</h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-4 column-grid">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block neutral-tweets">
                        <h1 class="profile-user-name">Narender Modi</h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-4 column-grid">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--right side content-->
    <div class="col-md-6 tweet-handler-block right-detailed-panel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id="tweet-handler-block-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tweet-timeline" role="tab">Tweet Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab"  href="#work-progress" role="tab">Work progress</a>
        </li>
      </ul>

      <!-- individual Tweet related content-->
      <div class="tab-content">
        <div class="container tab-pane active" id="tweet-timeline" role="tabpanel">
          <div class="comment-block">
            <form action="" class="comment-form">
              <div class="form-group">
                <textarea class="form-control textarea-field" name="comment-area" id="comment-area" cols="30" rows="3" placeholder="Your Comment"></textarea>
              </div>
              <button class="comment-submit" type="submit">Reply</button>
            </form>
          </div>
          <div class="row tweet-list">
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block negative-tweets">
                        <h1 class="profile-user-name">Narender Modi
                          <span class="tweet-to">
                          @jrjSng
                          </span>
                          <span class="tweet-time">7h</span>
                        </h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-4 column-grid">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
            <div class="tweet-replies">
              <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block negative-tweets">
                        <h1 class="profile-user-name">Narender Modi
                          <span class="tweet-to">
                          @jrjSng
                          </span>
                          <span class="tweet-time">7h</span>
                        </h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-4 column-grid">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
              <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block positive-tweets">
                        <h1 class="profile-user-name">Narender Modi
                          <span class="tweet-to">
                          @jrjSng
                          </span>
                          <span class="tweet-time">7h</span>
                        </h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-4 column-grid">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
              <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block neutral-tweets">
                        <h1 class="profile-user-name">Narender Modi
                          <span class="tweet-to">
                          @jrjSng
                          </span>
                          <span class="tweet-time">7h</span>
                        </h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="row tweet-footer">
                  <l1 class="col-xs-4 column-grid">
                    <span class="fa fa-retweet"></span>
                    <span class="numbers">232</span>
                  </l1>
                  <l1 class="col-xs-4 column-grid fan-following">
                    <span class="fa fa-heart"></span>
                    <span class="numbers">232</span>
                  </l1>
                </ul>
              </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="container tab-pane work-progress-block" id="work-progress" role="tabpanel">
          <div class="row tweet-list">
            <div class="col-md-12 tweet-item">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="#" class="thumbnail">
                  <img src="assets/default_image.jpeg"
                       class="float-xs-left profile-thumb"
                       alt="...">
                </a>
              </div>
                <div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="profile-tweet-details-block negative-tweets">
                        <h1 class="profile-user-name">Narender Modi
                          <span class="tweet-to">
                          @jrjSng
                          </span>
                          <span class="tweet-time">7h</span>
                        </h1>
                        <div class="profile-user-content">
                          Sir, I would appreciate if you could intervene at the corruption
in horticulture department of PWD circle of Delhi Zone
                        </div>
                    </div>
                  </div>
                </div>
                <button class="btn primary-btn hollow-btn follow-btn">Close</button>
              </div>
              </div>
            </div>
            <div class="col-md-12 comment-block">
            <form action="" class="comment-form">
              <div class="form-group">
                <textarea class="form-control textarea-field" name="comment-area" id="comment-area" cols="30" rows="3" placeholder="Your Comment"></textarea>
              </div>
              <div class="action-btn text-md-right">
                <button class="comment-submit" type="submit"><span class="fa fa-twitter"></span>Reply</button>
                <button class="comment-submit" type="submit">Add note</button>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>